@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto Slab", serif;
  width: 100%;
}

body {
  background-color: #fcfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.App {
  width: 90%;
  max-width: 1240px;
  margin: 10% auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1%;
}

@media only screen and (min-width: 500px) {
  .App {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .App {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
