.tarifcard {
  
  text-decoration: none;
  color: #adabab;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
    position: relative;
  top: 0;
  transition: all .1s ease-in;
  
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
}

.tarif-name, .tarif-price , .tarif-speed {
  display: flex;
    margin: 0;
    margin: 3%;
}
.header span {
  font-size: 120%;
  text-align: center;
 
  line-height: 2em;
  padding: 2%;
}
.header .tarif-price{
  font-size: 120%;
}

.item-1 .tarif-price{
  font-size: 250%;
}
.item-1 {
  .tarif-cur{
    align-self: flex-start;
    margin-bottom: 5%;
  }
  span {
    align-self: flex-end;
    margin-bottom: 5%;
  }
}

.footer span{
  font-size: 88%;
  text-align: center;
  line-height: 2em;
  padding: 2%;
  color: #838080;

}
.card__component {
  margin: 1%;
  padding: 1%;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: azure;
    
            }

.item-1 {
  padding: 15%;
  
}

.selected {
  transform: scale(1.07);
    }

 .blue {
  background-color:rgb(79, 197, 212);
  
}

.green {
  background-color:rgb(102, 204, 153);
}

.red {
  background-color:rgb(255,102,102);
}

.black {
  background-color:rgb(47, 47, 47);
}

.filtr {
  filter: brightness(115%);
}
